#Überschriften {
    font-family: American Typewriter, serif;
}
#Überschrift {
    text-align: center;
}

#Unterüberschrift {
    text-align: center;
}

body {
    background-color: lightblue;
    text-align: center;
}

#map {
    
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    border: 5px solid #555;
    border-style: ridge;
}

#Impressum {
    text-align: center;
    

}

#inputJson {
  background-color: #4CAF50;
  border: 2px solid #555;
  border-style: ridge;
  color: white;
  height: 50px;
  width: 505px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  
}

#JSONText {
    border: 2px solid #555;
    border-style: ridge;
    height: 50px;
    width: 500px;
    font-size: 16px;
    text-align: center;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}