extends layout

block content
  h1= title
  br
  br 
  // adapter from https://getbootstrap.com/docs/4.0/components/forms/#horizontal-form
  .container
    .row.justify-content-md-center
      form(action="/change/deletepoi" method="delete")
        fieldset
          .form-group.row.mb-1
            label.col-sm-2.col-form-label(for="poiname") Name des zu löschenden Gebirges eingeben.
            .col-sm-6
              input#poiname.form-control(type="text" name="pname" placeholder="Name eingeben")
          .form-group.row.mb-1
           button.btn.btn-primary.mb-3(type="submit")#loeschknopf Send 

  nav.navbar.navbar-expand-sm
  a.navbar-brand(href="#")
  #navbarMenu.collapse.navbar-collapse
    a.button-4(href="/", role="button") Startseite
    |  
    a.button-3(href="/add", role="button") Hinzufügen
    |  
    a.button-3(href="/search", role="button") Route Berechnen
    |  
    a.button-3(href="/list", role="button") Ansehen
    |  
    a.button-4(href="/impressum", role="button") Impressum