extends layout

block content
  h1= title
  .container-fluid
    p The element
      code
        #{JSON.stringify(newpoi)}
    p has been removed from the database  
    nav.navbar.navbar-expand-sm
    a.navbar-brand(href="#")
    #navbarMenu.collapse.navbar-collapse
      a.button-4(href="/", role="button") Startseite