extends layout
block content
  title Europas Gebirge
  #Ueberschriften
    h1#Ueberschrift Abschlussprojekt von Luca Hesse und Darian Weiss
    h2#Unterueberschrift Kartenbasierte Webanwendung zum Einsehen, Bearbeiten, Löschen und Hinzufügen von Gebirgen
  #Impressum
    h1 Impressum
    h3 Autoren
    p Darian Weiss, Luca Hesse
    h3 Anschrift
    p Heisenbergstraße 2, 48149 Münster
    h3 Kontakt
    p Luca: lhesse@uni-muenster.de
    p Darian: dweiss1@uni-muenster.de
    hr
    nav.navbar.navbar-expand-sm
    a.navbar-brand(href="#")
    #navbarMenu.collapse.navbar-collapse
      a.button-4(href="/", role="button") Startseite
     
          
