doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="author", content="Darian Weiss, Luca Hesse")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="/stylesheets/stylesheet.css")
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css", integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==", crossorigin=)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js")
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js", integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==", crossorigin=)
    script(defer, src="/javascripts/script.js")
    title Europas Gebirge
  body
    // Hier sind die Überschriften
    #Ueberschriften
      h1#Ueberschrift Abschlussprojekt von Luca Hesse und Darian Weiss
      h2#Unterueberschrift Kartenbasierte Webanwendung zum Einsehen, Bearbeiten, Löschen und Hinzufügen von Gebirgen
    #Impressum
      h1 Impressum
      h3 Autoren
      p Darian Weiss, Luca Hesse
      h3 Anschrift
      p Heisenbergstraße 2, 48149 Münster
      h3 Kontakt
      p Luca: lhesse@uni-muenster.de
      p Darian: dweiss1@uni-muenster.de
      hr
      nav.navbar.navbar-expand-sm
        a.navbar-brand(href="#")
        #navbarMenu.collapse.navbar-collapse
          a.button-3(href="/", role="button") Startseite
          | &amp;nbsp
