extends layout
block content
  title Europas Gebirge
  #Ueberschriften
    h1#Ueberschrift Abschlussprojekt von Luca Hesse und Darian Weiss
    h2#Unterueberschrift Kartenbasierte Webanwendung zum Einsehen, Bearbeiten, Löschen und Hinzufügen von Gebirgen
    h1 Startseite
    script.
      var map = L.map('map').setView([52.520008,13.404954], 3);
      
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap'
      }).addTo(map);
      
      
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright%22%3EOpenStreetMap</a> contributors'
      }).addTo(map);
      // FeatureGroup is to store editable layers
      var drawnItems = new L.FeatureGroup();
      var drawControl = new L.Control.Draw({
      draw: {
      rectangle: false,
      polygon: false,
      marker: true,
      circle: false,
      polyline: false,
      circlemarker: false
      },
      edit: {
      featureGroup: drawnItems
      }
      });
      
      
      
      map.on(L.Draw.Event.CREATED, (e) => {
      var type = e.layerType;
      var layer = e.layer;
      boundingbox = layer.toGeoJSON().geometry.coordinates;
      drawnItems.addLayer(layer);
      map.addLayer(layer);
      })
      map.addLayer(drawnItems)
      map.addControl(drawControl)
    hr
    nav.navbar.navbar-expand-sm
      a.navbar-brand(href="#")
      #navbarMenu.collapse.navbar-collapse
        a.button-3(href="/search", role="button") Route Berechnen
        |  
        a.button-3(href="/add", role="button") Hinzufügen
        |  
        a.button-3(href="/change", role="button") Bearbeiten
        |  
        a.button-3(href="/list", role="button") Ansehen
        |  
        a.button-4(href="/impressum", role="button") Impressum
