extends layout 
block content
  h1= title
  br
  #map
  span#resultlist
    #navbarMenu.collapse.navbar-collapse
    nav.navbar.navbar-expand-sm
    a.navbar-brand(href="#")
      a.button-4(href="/", role="button") Startseite
      |  
      a.button-3(href="/add", role="button") Hinzufügen
      |  
      a.button-3(href="/change", role="button") Bearbeiten
      |  
      a.button-3(href="/search", role="button") Route Berechnen
      |  
      a.button-4(href="/impressum", role="button") Impressum
  #mydata
    b Liste aller in der Datenbank gespeicherten Berge
    table#myTableData(border='1' cellpadding='2')
      tr
        td
          b Name
        td
          b Koordinaten
        td
          b Höhe
        td
          b Link
        td
          b Beschreibung   
  script.
    var map = L.map("map").setView([49.845363, 9.905964], 4);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap'
      }).addTo(map);
    let geojson = !{JSON.stringify(data)}
    function addMarker(point){

    let x = point.geometry.coordinates[1];
    let y = point.geometry.coordinates[0];
    
    var marker = L.marker([x, y]).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    }
        
    function addMarker(point){

    let x = point.geometry.coordinates[1];
    let y = point.geometry.coordinates[0];
            
    var marker = L.marker([x, y]).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
            }
    for(var i=0; i<geojson.length; i++)
    {
    console.log(geojson[i].geometry.coordinates)
    addMarker(geojson[i])
    console.log(geojson[i])
    var bergname = geojson[i].properties.name 
    var bergkoordinaten = geojson[i].geometry.coordinates
    var berghoehe = geojson[i].properties.altitude
    var berglink = geojson[i].properties.url
    var bergbeschreibung = geojson[i].properties.description
    var table = document.getElementById("myTableData");
             
    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);
             
   
    row.insertCell(0).innerHTML= bergname;
    row.insertCell(1).innerHTML= bergkoordinaten;
    row.insertCell(2).innerHTML= berghoehe;
    row.insertCell(3).innerHTML= berglink;
    row.insertCell(4).innerHTML= bergbeschreibung;
    
    }
        