extends layout

block content
  h1= title
  #map
  script.
    mapboxgl.accessToken = 'pk.eyJ1IjoiZHdlaXNzd3d1IiwiYSI6ImNsM2lodm83YjA3YmUzam83djZxb2p5amcifQ.4MjT-si3woW0JUIrZ9Jv6A';
    const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-79.4512, 43.6568],
    zoom: 13
    });
    map.addControl(
    new MapboxDirections({
    accessToken: mapboxgl.accessToken
    }),
    'top-left'
    );
  hr
  input#location(type="submit", name="location", value="Standort bestimmen")
  input#longcor(type="text" readonly)
  input#latcor(type="text" readonly)
  nav.navbar.navbar-expand-sm
  a.navbar-brand(href="#")
  #navbarMenu.collapse.navbar-collapse
    a.button-4(href="/", role="button") Startseite
    |  
    a.button-3(href="/add", role="button") Hinzufügen
    |  
    a.button-3(href="/change", role="button") Bearbeiten
    |  
    a.button-3(href="/list", role="button") Ansehen
    |  
    a.button-4(href="/impressum", role="button") Impressum